@model qlvb.Models.dic_normal

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="tf-services">
<div class="container">
<h2>Xóa từ này</h2>
<h3>Bạn có chắc chắn xóa từ này: @Model.word</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Xóa" /> |
        @Html.ActionLink("Trở về danh sách", "Index")
    </p>
}
    </div>
    </div>
