@model qlvb.Models.cat2

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="tf-services">
<div class="container">
<h2>Xóa Loại văn bản này</h2>
<h3>Bạn có chắc chắn xóa Loại văn bản này: @Model.name</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
    </div>
    </div>
