@model qlvb.Models.cat3

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="tf-services" style="width:100%;padding-top:100px;">
<div class="container">
<h2>Xóa Tên người ký này</h2>
<h3>Bạn có chắc chắn xóa Tên người ký này: @Model.name</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Xóa" /> |
        @Html.ActionLink("Trở về danh sách", "Index")
    </p>
}
    </div>
    </div>
