@model qlvb.Models.member

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}
<div id="tf-services" style="width:100%;padding-top:100px;">
    <div class="container">
        <h2>Xóa người dùng</h2>

        <h3>Bạn có chắc chắn xóa?</h3>
        <fieldset>
            <legend>member</legend>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.name)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.name)
            </div>

           
        </fieldset>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" value="Delete" /> |
                @Html.ActionLink("Back to List", "Index")
            </p>
        }
</div></div>