@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}
<div id="tf-services" style="width:50%;padding-top:200px;text-align:center;margin-left:25%;">
    <div class="container" style="width:100%;background-color:#f0f0f0;color:#808080;padding:0px 0px 0px 0px;float:left;display:block;">
        <h2 style="width:100%;background-color:#33558f;color:#fff;padding:15px 15px 15px 15px;text-align:center;float:left;display:block;top:0px;position:relative;margin-top: 0px;">Đăng nhập</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @*<fieldset>*@
                @*<div class="editor-label">
                    Tên
                </div>*@
                <div class="editor-field" style="width:100%;text-align:center;">
                    <input type="text" id="name" name="name" placeholder="Tên" style="border:none;border-bottom:1px solid #dedede;margin-bottom:10px;">
                </div>
                @*<div class="editor-label">
                    Mật khẩu
                </div>*@
                <div class="editor-field" style="width:100%;text-align:center;">
                    <input type="password" id="pass" name="pass" placeholder="Mật khẩu" style="border:none;border-bottom:1px solid #dedede;">
                </div>

                <div style="width:100%;text-align:center;">
                    <input type="button" value="Login" onclick="Login();" id="btnSA" style="width:30%;background-color:#2e2e2e;color:#fff;padding:15px 15px 15px 15px;" />
                </div>
            @*</fieldset>*@
        }

    </div>
</div>
<script>
    function Login() {
        var formdata = new FormData(); //FormData object
        var name = document.getElementById("name").value;
        var pass = document.getElementById("pass").value;
        
        
        if (name == "") {
            alert("Nhập tên truy cập");
            return;
        }
        if (pass == "") {
            alert("Nhập mật khẩu");
            return;
        }
        
        
        document.getElementById("btnSA").disabled = true;
        formdata.append("name", name);
        formdata.append("pass", pass);
       
        
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/members/checkLogin');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText != "0") {
                    window.location.href = "/Document/Admin";
                } else {
                    document.getElementById("btnSA").disabled = false;
                    alert("Không tìm thấy user và pass này! Kiểm tra lại pass và tên truy cập!");
                }
            }
        }
    }
</script>
