@model qlvb.Models.cat4

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="tf-services" style="width:100%;padding-top:100px;">
<div class="container">
<h2>Thêm mới Cơ quan ban hành</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
       

        <div class="editor-label">
            Tên Cơ quan ban hành
        </div>
        <div class="editor-field">
            <input type="text" name="name" id="name" style="width:300px;">
        </div>

        

        <p>
            <input type="submit" value="Thêm" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>
</div>

