@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:10px;float:left;position:relative;border:1px solid #ff6a00;border-radius:5px;width:100%;background-color:#f0f0f0;">
    <h2 style="width:100%;background-color:#33558f;color:#fff;padding:15px 15px 15px 15px;text-align:center;float:left;display:block;top:0px;position:relative;margin-top: 0px;">QUẢN LÝ</h2>
    <div class="col-sm-4">
        <p><a href="/Document/ListCat">&nbsp;DANH MỤC</a></p>
        <p><a href="/Document/ListCat"><img src="~/Images/adlist.png" style="width:157px;height:157px;"/></a></p>
    </div>
    <div class="col-sm-4">
        <p><a href="/Document/Index">&nbsp;QUẢN LÝ VĂN BẢN</a></p>
        <p><a href="/Document/Index"><img src="~/Images/addoc.png" style="width:157px;height:157px;" /></a></p>
    </div>
    <div class="col-sm-4">
        <p><a href="/Members/Index">&nbsp;NGƯỜI DÙNG</a></p>
        <p><a href="/Members/Index"><img src="~/Images/aduser.png" style="width:157px;height:157px;" /></a></p>
    </div>
</div>
