@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:10px;float:left;position:relative;border:1px solid #ff6a00;border-radius:5px;width:100%;">
    <div class="col-sm-4">
        <p><a href="/Document/ListCat">DANH MỤC</a></p>
        <p><img src="~/Images/adlist.png" /></p>
    </div>
    <div class="col-sm-4">
        <p><a href="/Document/Index">QUẢN LÝ VĂN BẢN</a></p>
        <p><img src="~/Images/addoc.png" /></p>
    </div>
    <div class="col-sm-4">
        <p><a href="/Members/Index">NGƯỜI DÙNG</a></p>
        <p><img src="~/Images/aduser.png" /></p>
    </div>
</div>
