@model qlvb.Models.document

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="tf-services" style="width:100%;padding-top:100px;">
<div class="container">
<h2>Xóa văn bản này</h2>
<h3>Bạn có chắc chắn xóa văn bản này: <b>@Model.code - @Model.name</b></h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Xóa" /> |
        @Html.ActionLink("Trở về danh sách", "Index")
    </p>
}
    </div>
    </div>
