@{
    ViewBag.Title = "ListCat";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}
<h1 style="padding-top:120px;">QUẢN LÝ DANH MỤC</h1>
<div style="margin-top:10px;float:left;position:relative;border:1px solid #ff6a00;border-radius:5px;width:100%;">
    <div class="col-sm-4">
        <p><a href="/Cat1/">Danh Mục Lĩnh Vực</a></p>
        <p><a href="/Cat1/"><img src="~/Images/adlist.png" /></a></p>
    </div>
    <div class="col-sm-4">
        <p><a href="/Cat2/">Danh Mục Loại Văn Bản</a></p>
        <p><a href="/Cat2/"><img src="~/Images/adlist.png" /></a></p>
    </div>
    <div class="col-sm-4">
        <p><a href="/Cat3/">Danh Mục Người Ký</a></p>
        <p><a href="/Cat3/"><img src="~/Images/adlist.png" /></a></p>
    </div>
    <div class="col-sm-4">
        <p><a href="/Cat4/">Danh Mục Cơ Quan ban hành</a></p>
        <p><a href="/Cat4/"><img src="~/Images/adlist.png" /></a></p>
    </div>
    <div class="col-sm-4">
        <p><a href="/Dic/">Danh Mục Từ điển</a></p>
        <p><a href="/Dic/"><img src="~/Images/adlist.png" /></a></p>
    </div>
</div>
