@{
    ViewBag.Title = "ListCat";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}

<div style="margin-top:10px;background-color:#f0f0f0;float:left;position:relative;border:1px solid #ff6a00;border-radius:5px;width:100%;">
    <h2 style="width:100%;background-color:#33558f;color:#fff;padding:15px 15px 15px 15px;text-align:center;float:left;display:block;top:0px;position:relative;margin-top: 0px;">QUẢN LÝ DANH MỤC</h2>
    <div class="col-sm-4">
        <p><a href="/Cat1/">Danh Mục Lĩnh Vực</a></p>
        <p><a href="/Cat1/"><img src="~/Images/adlist2.png" style="width:157px;height:157px;" /></a></p>
    </div>
    <div class="col-sm-4">
        <p><a href="/Cat2/">Danh Mục Loại Văn Bản</a></p>
        <p><a href="/Cat2/"><img src="~/Images/adlist3.png" style="width:157px;height:157px;" /></a></p>
    </div>
    <div class="col-sm-4">
        <p><a href="/Cat3/">Danh Mục Người Ký</a></p>
        <p><a href="/Cat3/"><img src="~/Images/adlist5.png" style="width:157px;height:157px;" /></a></p>
    </div>
    <div class="col-sm-4">
        <p><a href="/Cat4/">Danh Mục Cơ Quan ban hành</a></p>
        <p><a href="/Cat4/"><img src="~/Images/adlist4.png" style="width:157px;height:157px;" /></a></p>
    </div>
    <div class="col-sm-4">
        <p><a href="/Dic/">Danh Mục Từ điển</a></p>
        <p><a href="/Dic/"><img src="~/Images/adlist.png" style="width:157px;height:157px;" /></a></p>
    </div>
</div>
