@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li >
                            <a href="#general" data-toggle="tab">Thông tin chung</a>
                        </li>
                        <li>
                            <a href="#td" data-toggle="tab">Thông số kỹ thuật</a>
                        </li>
                        <li>
                            <a href="#sb" data-toggle="tab">Score board image</a>
                        </li>
                        <li>
                            <a href="#gi" data-toggle="tab">Album ảnh</a>
                        </li>
                        <li>
                            <a href="#pr" data-toggle="tab">Giá cả</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade  in active" id="general">
                            1
                        </div>
                        <div class="tab-pane fade" id="td">
                            22222222222222222
                        </div>
                        <div class="tab-pane fade" id="sb">
                            33333333333333333333333333
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
